{% extends 'base.html' %}
{% block content %}
<main>
    <!-- begin dashboard -->
    <section class="bg-light py-5">
        <div class="container">
            <!-- begin search form -->
            <div class="row mb-5">
                <div class="col-6">
                    <h2>Enter Location</h2>
                    <form method="POST" action="/">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <input name="search" id="search" type="text" class="form-control" placeholder="Search..." aria-label="search">
                            </div>
                            <div class="col-12 col-lg-4">
                                <select name="loc_type" id="loc_type" class="form-select" aria-label="select location type">
                                    <option value="postcode" selected>Zip Code</option>
                                    <option value="city" disabled>City</option>
                                    <option value="state" disabled>State</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-4">
                                <button type="submit" class="btn btn-info">Search</button>
                            </div>
                        </div>
                    </form>
                    {{err}}
                </div>
            </div>

            <!-- begin current conditions -->
            <div class="row mb-4">
                <h2>Current Conditions</h2>

                <!-- begin conditions card -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card bg-light text-center h-100">
                        <!--<img src="https://via.placeholder.com/150" alt="icon">-->
                        <div class="card-body">
                            <h4>{{locale.location.address[0]}}</h4>
                            <hr>
                            <div class="h5">{{data.wxPhraseMedium}}, Temp: {{data.temperature}}&deg; F</div>
                            <div class="h6">{{data.dayOfWeek}}, {{data.validTimeLocal}}</div>
                        </div>
                    </div>
                </div>

                <!-- begin tabular data -->
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <table class="table table-bordered table-striped table-light mb-0">
                        <tbody>
                            <tr>
                                <th class="col-md-6" scope="row">Feels Like:</th>
                                <td class="col-md-6">{{data.temperatureFeelsLike}}&deg; F</td>
                            </tr>
                            <tr>
                                <th class="col-md-6" scope="row">24h Precipitation:</th>
                                <td class="col-md-6">{{data.precip24Hour}}</td>
                            </tr>
                            <tr>
                                <th class="col-md-6" scope="row">Hi Temp:</th>
                                <td class="col-md-6">{{data.temperatureMax24Hour}}&deg; F</td>
                            </tr>
                            <tr>
                                <th class="col-md-6" scope="row">Lo Temp:</th>
                                <td class="col-md-6">{{data.temperatureMin24Hour}}&deg; F</td>
                            </tr>
                            <tr>
                                <th class="col-md-6" scope="row">UV Index:</th>
                                <td class="col-md-6">{{data.uvIndex}}</td>
                            </tr>
                            <tr>
                                <th class="col-md-6" scope="row">Wind:</th>
                                <td class="col-md-6">{{data.windSpeed}}&nbsp;mph, {{data.windDirectionCardinal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- begin power disruption index table -->
            <div class="row">
                <div class="col-12">
                    <h3>Power Disruption Index</h3>
                    <table class="table table-bordered table-striped table-light">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">Day Part (12hr)</th>
                                        <th class="col-md-4">Index</th>
                                        <th class="col-md-4">Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{power.powerDisruptionIndex12hour.daypartName[0]}}</th>
                                        <td>{{power.powerDisruptionIndex12hour.powerDisruptionIndex[0]}}</td>
                                        <td>{{power.powerDisruptionIndex12hour.powerDisruptionCategory[0]}}</td>
                                    </tr>
                                <tr>
                                        <th scope="row">{{power.powerDisruptionIndex12hour.daypartName[1]}}</th>
                                        <td>{{power.powerDisruptionIndex12hour.powerDisruptionIndex[1]}}</td>
                                        <td>{{power.powerDisruptionIndex12hour.powerDisruptionCategory[1]}}</td>
                                    </tr>
                                <tr>
                                        <th scope="row">{{power.powerDisruptionIndex12hour.daypartName[2]}}</th>
                                        <td>{{power.powerDisruptionIndex12hour.powerDisruptionIndex[2]}}</td>
                                        <td>{{power.powerDisruptionIndex12hour.powerDisruptionCategory[2]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </section>

    <!-- begin raw data section -->
    <section class="bg-secondary py-5">
        <div class="container text-light">
            <div class="row">
                <div class="col-12 mb-5">
                    <h2>Location Services Dataset:</h2>
                    <p>Documentation: <a class="link-light" href="https://weather.com/swagger-docs/ui/sun/v3/sunV3LocationSearch.json" target="_blank">https://weather.com/swagger-docs/ui/sun/v3/sunV3LocationSearch.json</a></p>
                    <div class="card text-body">
                        <div class="card-body">
                            {{locale}}
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-5">
                    <h2>Currents on Demand Dataset:</h2>
                    <p>Documentation: <a class="link-light" href="https://weather.com/swagger-docs/ui/sun/v3/sunV3CurrentsOnDemand.json" target="_blank">https://weather.com/swagger-docs/ui/sun/v3/sunV3CurrentsOnDemand.json</a></p>
                    <div class="card text-body">
                        <div class="card-body">
                            {{data}}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h2>Power Disruption Index - 15 Day Dataset:</h2>
                    <p>Documentation: <a class="link-light" href="https://weather.com/swagger-docs/ui/sun/v2/SUNv2SevereWeatherPowerDisruptionIndex.json" target="_blank">https://weather.com/swagger-docs/ui/sun/v2/SUNv2SevereWeatherPowerDisruptionIndex.json</a></p>
                    <div class="card text-body">
                        <div class="card-body">
                            {{power}}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-->
    </section>
</main>
{% endblock content %}